@tailwind base;

@layer base {
  :root {
    /* Gray */
    --ugray-0: 0 0% 100%;
    --ugray-50: 0 0% 98%;
    --ugray-100: 206 21% 94%;
    --ugray-200: 0 0% 68%;
    --ugray-400: 228 2% 44%;
    --ugray-600: 218 18% 27%;
    --ugray-900: 0 0% 0%;

    /* Blue */
    --ublue-50: 215, 100%, 87%;
    --ublue-100: 210, 100%, 52%;
    --ublue-200: 211, 100%, 50%;
    --ublue-400: 220, 65%, 25%;
    --ublue-600: 220, 35%, 22%;
    --ublue-900: 217, 62%, 9%;

    /* Green */
    --ugreen-200: 135, 57%, 80%;
    --ugreen-400: 135, 64%, 50%;
    --ugreen-600: 135, 59%, 49%;
    --ugreen-800: 136, 60%, 10%;

    /* Yellow */
    --uyellow-200: 48, 100%, 80%;
    --uyellow-400: 50, 100%, 52%;
    --uyellow-600: 48, 100%, 50%;
    --uyellow-800: 48, 100%, 35%;

    /* Orange */
    --uorange-200: 33, 100%, 70%;
    --uorange-400: 36, 100%, 52%;
    --uorange-600: 35, 100%, 50%;
    --uorange-800: 35, 100%, 25%;

    /* Red */
    --ured-200: 1, 80%, 80%;
    --ured-400: 3, 100%, 59%;
    --ured-600: 1, 80%, 50%;
    --ured-800: 4, 69%, 24%;

    /* Indigo */
    --uindigo-200: 244, 100%, 97%;
    --uindigo-400: 241, 73%, 63%;
    --uindigo-600: 241, 61%, 59%;
    --uindigo-800: 259, 75%, 50%;

    /* Mint */
    --umint-200: 178, 63%, 82%;
    --umint-400: 178, 72%, 65%;
    --umint-600: 177, 100%, 39%;
    --umint-800: 177, 100%, 27%;

    /* Teal */
    --uteal-200: 178, 63%, 82%;
    --uteal-400: 188, 72%, 56%;
    --uteal-600: 189, 61%, 48%;
    --uteal-800: 189, 61%, 44%;

    /* Cyan */
    --ucyan-200: 200, 79%, 87%;
    --ucyan-400: 197, 100%, 70%;
    --ucyan-600: 199, 78%, 55%;
    --ucyan-800: 199, 64%, 44%;

    /* Purple */
    --upurple-200: 280, 68%, 88%;
    --upurple-400: 280, 85%, 65%;
    --upurple-600: 280, 68%, 60%;
    --upurple-800: 280, 46%, 36%;

    /* Pink */
    --upink-200: 349, 100%, 88%;
    --upink-400: 348, 100%, 61%;
    --upink-600: 349, 100%, 59%;
    --upink-800: 349, 70%, 30%;

    --radius: 0.5rem;
  }
}
